body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0E0A73;
}

.wrapper {
    padding: 5px;
    max-width: 960px;
    width:95%;
    margin: auto;
}



header {
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.columns {
    display: flex;
    margin: 5px 0;
    
}

.column01 {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #140FA6;
    color: white;
}
.column02 {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #140FA6;
    color: white;
} 

.rotate{
    /* width: 200px;
    height: 200px; */
    /* margin:200px; */
    transition: all 2s ease-in-out
}
.rotate:hover {
    transform: rotate(360deg);
}

.column03 {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #0D0D0D;
    color: white;
}

/* Larger Resoultion */

@media (min-width: 900px)
{
    .flex-container {
     display: flex;
    }

    .column01{
        flex: 1;
    }

    .column02, .column03 {
        flex: 1;
    }

}

h2 {
    text-align: center;
}
footer{
    text-align: center;
}

.hidden{
    display: none;
}

.special{
    background:red;
    size:2em;
    color:blue;
    border: 2px dotted blue;
}

.circle {
    /* position: absolute; */
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 25px;
   height:25px;
   background: var(--ball-color);
   clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)
}