body {
    font-family:Arial, Helvetica, sans-serif;
    background: url(images/elegant-disco-ball-with-copy-space.jpg)
    
}

/* Structure */
#content{
    background: #fff;
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto; 
    border-radius: 5px;
}

/* Navigation */

#main-nav a {
    color: pink;

    /*remove the underline*/
    text-decoration: none;
    background: #BFBFBF;
    color: #F2EBDC;
    padding: 5px;
    border-radius: 2px;

}

#main-nav a:hover {
    background: deeppink;
}

/* Typography (Font Type) */
h1 {
    color:blue;
}

.special{
    color: deepskyblue;
}