body {
    font-family:Arial, Helvetica, sans-serif;
    background: #0D8C5D;

    
}
/* header */
h1 {
    text-align: center;
}

/* Structure */
#assign {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #140FA6;
    color: white;
}

#projects {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: #140FA6;
    color: white;
}

/* Navigation */

#main-nav a {
    color: black;

    /*remove the underline*/
    text-decoration: none;
    background: #BFBFBF;
    color: #F2EBDC;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    list-style: none;

}

#main-nav a:hover {
    background: gray;

}

#main-nav li {
    margin-top: 25px;
    text-decoration: none;
    list-style-type: none;
}

#img-div img{
    width: 50px;;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 50px;
    
}


/* Typography (Font Type) */
h1 {
    color:white;
}

.special{
    color: grey;
}
/*Larger Resolutions */
@media (min-width: 900px)
{
    #main-nav ul, .flex-container {
     display: flex;
    }

    #demo img{
        width: 50%;
    }

    #main-nav li, .assign, .projects {
        flex: 1;
    }

    

    .img-div{
        width: 100%;
    }
   

}

