body {
    font-family:Arial, Helvetica, sans-serif;
    background: #0D8C5D;

    
}

/* Structure */
#assign{
    
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: 10px; 
    border-radius: 5px;
}

/* Navigation */

#main-nav a {
    color: black;

    /*remove the underline*/
    text-decoration: none;
    background: #BFBFBF;
    color: #F2EBDC;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

}

#main-nav a:hover {
    background: gray;

}

#main-nav li {
    margin-top: 25px;
}

/* Typography (Font Type) */
h1 {
    color:white;
}

.special{
    color: grey;
}