body {
    font-family:Arial, Helvetica, sans-serif;
    background: url(images/Coding.jpeg)

    
}

/* Structure */
#assign {
    background: #fff;
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto; 
    border-radius: 2px;
    list-style-type: none;
}

/* Navigation */

#main-nav a {
    color: black;

    /*remove the underline*/
    text-decoration: none;
    background: #BFBFBF;
    color: #F2EBDC;
    padding: 5px;
    border-radius: 1px;
    margin-bottom: 25px;
    list-style-position: none;
    

}

#main-nav a:hover {
    background: gray;
}

/* Typography (Font Type) */
h1 {
    color:white;
}

.special{
    color: grey;
}
/*Larger Resolutions */
@media (min-width: 900px)
{
    #main-nav ul, .flex-container {
     display: flex;
    }

    #main-nav li, .assign, .projects{
        flex: 1;
    }

    .content-section02, .content-section02of04{
        flex: 2;
    }
   

}